<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<body class="page-template-default page page-id-207 wpb-js-composer js-comp-ver-5.0.1 vc_responsive">



    <div class="spacer"></div>

    <div id="content" class="site-content content default-header-menu-content">

        <div id="agni-page-header-207" class="agni-slider agni-page-header" data-height="480" data-height-tab="400" data-height-mobile="320" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
            <div class="agni-slide ">
                <div class="agni-slide-bg-container ">
                    <div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../Public/wp-content/uploads/sites/15/2016/12/shutterstock_521540146.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background: rgba(36, 198, 220, 0.85); /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;"></div>
                </div>
                <div class="agni-slide-content-container container agni-slide-align-items- agni-slide-justify-content-center">
                    <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                        <div class="agni-slide-title  primary-typo" style="font-size:70px; color:#f0f0f0;"><h2>Contact Us</h2></div>
                    </div>
                </div>
            </div>
        </div><div class="page-layout has-fullwidth">
            <div class="page-container container-fluid">
                <div class="page-row row no-sidebar ">


                    <div class="page-column page-content col-sm-12 col-md-12">
                        <div id="primary" class="primary content-area">
                            <main id="main" class="site-main">


                                <article id="post-207" class="post-207 page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div id="contact-address" class="section-row contact-address" style="padding-top: 5%; padding-bottom: 5%; "><div class="section-row-bg-container section-row-bg-container-contact-address"><div class="section-row-bg section-row-bg-color "></div></div><div class="container"><div class="vc_row vc_row_fluid vc_column-gap-30"><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 25%; padding-bottom: 25%; "><div class="section-column-bg-container section-column-bg-container-agni-column-52010 "><div class="section-column-bg section-column-bg-image " style="background-image: url('../Public/wp-content/uploads/sites/15/2016/09/shutterstock_97467635.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:scroll; "></div><div class="section-column-bg-overlay overlay" style="background-color:rgba(0,0,0,0.3);"></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="color: #ffffff;text-align: center; "><span>New York</span></h4></div><div class=" agni-button  text-center page-scroll"><a class="btn btn-alt btn-sm btn-white" target="_self" href="#" style="margin-top: 10px; margin-bottom: px; margin-left: px; margin-right: px; border-radius:50px;">Direction<i class="fa fa-map-o"></i></a></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 25%; padding-bottom: 25%; "><div class="section-column-bg-container section-column-bg-container-agni-column-74203 "><div class="section-column-bg section-column-bg-image " style="background-image: url('../Public/wp-content/uploads/sites/15/2016/09/shutterstock_379915576.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:scroll; "></div><div class="section-column-bg-overlay overlay" style="background-color:rgba(0,0,0,0.3);"></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="color: #ffffff;text-align: center; "><span>Frankfurt</span></h4></div><div class=" agni-button  text-center page-scroll"><a class="btn btn-alt btn-sm btn-white" target="_self" href="#" style="margin-top: 10px; margin-bottom: px; margin-left: px; margin-right: px; border-radius:50px;">Direction<i class="fa fa-map-o"></i></a></div></div></div></div></div></div></div><div id="contact-form" class="section-row contact-form" style="padding-top: 4%; padding-bottom: 4%; ">
                                            <div class="section-row-bg-container section-row-bg-container-contact-form"><div class="section-row-bg section-row-bg-color " style="background-color: #f8f8fb; "></div></div><div class="container">
                                                <div class="vc_row vc_row_fluid ">
                                                    <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-8 vc_col-md-offset-3 vc_col-md-6 vc_col-sm-offset-2">
                                                        <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                            <div class="section-column-bg-container section-column-bg-container-agni-column-11271 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                <div class="agni_custom_heading page-scroll"><h3 class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="text-align: center; margin-top: 0px; "><span>Enquires &amp; Feedback</span></h3><div class="divide-line text-center "><span style="width:70px; height:1px; background-color:#514a9d"></span></div></div><div class="agni_empty_space vc_empty_space" style="height: 30px" data-height="30px" data-height-tab="30px" data-height-mobile="30px"><span class="vc_empty_space_inner"></span></div>
                                                                <div role="form" class="wpcf7" id="wpcf7-f362-p207-o1" lang="en-US" dir="ltr">
                                                                    <div class="screen-reader-response"></div>
                                                                    <form action="http://demo.agnidesigns.com/fortune/demo14/d14-contact-us/#wpcf7-f362-p207-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                        <div style="display: none;">
                                                                            <input type="hidden" name="_wpcf7" value="362" />
                                                                            <input type="hidden" name="_wpcf7_version" value="4.4.2" />
                                                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f362-p207-o1" />
                                                                            <input type="hidden" name="_wpnonce" value="4b5b2133dd" />
                                                                        </div>
                                                                        <div class="row fortun-contact-form-style-1">
                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name*" /></span></div>
                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span></div>
                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject" /></span></div>
                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea></span></div>
                                                                            <div class="col-sm-12 col-md-12 text-center"><input type="submit" value="Confirm" class="wpcf7-form-control wpcf7-submit btn-accent" /></div>
                                                                        </div>
                                                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div id="contact-social-networks" class="section-row contact-social-networks" style="padding-top: 6%; padding-bottom: 6%; "><div class="section-row-bg-container section-row-bg-container-contact-social-networks"><div class="section-row-bg section-row-bg-image " style="background-image: url('../../Public/wp-content/uploads/sites/15/2016/09/shutterstock_391278748.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:scroll; "></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-center" style="padding-top: 30px; padding-bottom: 30px; "><div class="section-column-bg-container section-column-bg-container-agni-column-36819 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><span class=" agni-icon has-icon " style="padding:10px; "><span class="agni-icon-container" style="border-radius:50%; color:#f0f1f2; background-color:#514a9d; "><a href="#"><i class="ion-social-facebook icon-has-background hover-icon-has-background" style="font-size:50px; border-radius:50%; color:#514a9d; width:100px; height:100px; background-color:#f0f1f2;  border-color:#f0f1f2;"></i></a></span></span><span class=" agni-icon has-icon " style="padding:10px; "><span class="agni-icon-container" style="border-radius:50%; color:#f0f1f2; background-color:#514a9d; "><a href="#"><i class="fa fa-twitter icon-has-background hover-icon-has-background" style="font-size:50px; border-radius:50%; color:#514a9d; width:100px; height:100px; background-color:#f0f1f2;  border-color:#f0f1f2;"></i></a></span></span><span class=" agni-icon has-icon " style="padding:10px; "><span class="agni-icon-container" style="border-radius:50%; color:#f0f1f2; background-color:#514a9d; "><a href="#"><i class="fa fa-linkedin icon-has-background hover-icon-has-background" style="font-size:50px; border-radius:50%; color:#514a9d; width:100px; height:100px; background-color:#f0f1f2;  border-color:#f0f1f2;"></i></a></span></span><span class=" agni-icon has-icon " style="padding:10px; "><span class="agni-icon-container" style="border-radius:50%; color:#f0f1f2; background-color:#514a9d; "><a href="#"><i class="fa fa-instagram icon-has-background hover-icon-has-background" style="font-size:50px; border-radius:50%; color:#514a9d; width:100px; height:100px; background-color:#f0f1f2;  border-color:#f0f1f2;"></i></a></span></span></div></div></div></div></div></div>
                                    </div><!-- .entry-content -->
                                </article><!-- #post-## -->



                            </main><!-- #main -->
                        </div><!-- #primary -->
                    </div>
                </div>
            </div>
        </div>


    </div><!-- #content -->

</body>
