
@{
    ViewBag.Title = "Contact";
}


<div id="content" class="site-content content default-header-menu-content">

    <div id="agni-page-header-266" class="agni-slider agni-page-header" data-height="700" data-height-tab="540" data-height-mobile="380" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../Public/wp-content/uploads/sites/2/2016/06/shutterstock_307289900.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background-color:rgba(0,0,0,0.7);"></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-center agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:84px; color:#f0f0f0;"><h2>Ask for quotes & doubts.</h2></div>
                </div>
            </div>
        </div>
    </div><div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-266" class="post-266 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="intro" class="section-row intro" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-intro"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1 vc_col-xs-12">
                                                    <div class="agni_column-inner vc_column-inner text-center" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-71054 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll">
                                                                <div class="vc_custom_heading agni_custom_heading_content " style="font-size: 24px;color: #000000;line-height: 1.7;text-align: center; font-weight:600; letter-spacing:0px; margin-top: 20px; margin-bottom: 20px; ">
                                                                    <span>
                                                                        Want to work with us or need more details about career or have a worthy resume, just mail to us via<br />
                                                                        career@yourmail.com we are happy to receive.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="contact-bar" class="section-row contact-bar" style="padding-top: 4%; padding-bottom: 4%; "><div class="section-row-bg-container section-row-bg-container-contact-bar"><div class="section-row-bg section-row-bg-image  parallax" style="background-image: url('../Public/wp-content/uploads/sites/2/2016/06/photo-1457369804613-52c61a468e7d.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:fixed; " data-top-bottom="background-position: 0px -200px;" data-center="background-position: 0px 0px" data-bottom-top="background-position: 0px 200px"></div></div><div class="container"><div class="vc_row vc_row_fluid "><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4"><div class="agni_column-inner vc_column-inner text-center" style="padding-top: 20px; "><div class="section-column-bg-container section-column-bg-container-agni-column-58602 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><span class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#ff655c; "><i class="pe-7s-mail-open  " style="font-size:36px; border-radius:50%; color:#ffffff; "></i></span></span><div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 22px;color: #ffffff;text-align: center; font-weight:600; letter-spacing:0px; padding-top: 5px; "><span>Mail Me</span></div></div><div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 18px;color: #ffffff;text-align: center; "><span>yourmail@mail.com</span></p></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4"><div class="agni_column-inner vc_column-inner text-center" style="padding-top: 20px; "><div class="section-column-bg-container section-column-bg-container-agni-column-65466 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><span class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#ff655c; "><i class="pe-7s-phone  " style="font-size:36px; border-radius:50%; color:#ffffff; "></i></span></span><div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 22px;color: #ffffff;text-align: center; font-weight:600; letter-spacing:0px; padding-top: 5px; "><span>Call Me</span></div></div><div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 18px;color: #ffffff;text-align: center; "><span>+00 00 000 0000</span></p></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4"><div class="agni_column-inner vc_column-inner text-center" style="padding-top: 20px; "><div class="section-column-bg-container section-column-bg-container-agni-column-35893 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><span class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#ff655c; "><i class="pe-7s-map-marker  " style="font-size:36px; border-radius:50%; color:#ffffff; "></i></span></span><div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 22px;color: #ffffff;text-align: center; font-weight:600; letter-spacing:0px; padding-top: 5px; "><span>Visit Me</span></div></div><div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 18px;color: #ffffff;text-align: center; "><span>PO Box 21177, Victoria 8011.</span></p></div></div></div></div></div></div></div><div id="contact-form" class="section-row contact-form">
                                        <div class="section-row-bg-container section-row-bg-container-contact-form"><div class="section-row-bg section-row-bg-image "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding vc_row-o-equal-height vc_row-flex">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 25px; padding-right: 5%; padding-bottom: 25px; padding-left: 5%; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-87598 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="agni-row-inner-56905" class="section-row-inner vc_inner ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-56905"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-10 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-1">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-41957"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_empty_space vc_empty_space" style="height: 80px" data-height="80px" data-height-tab="70" data-height-mobile="25"><span class="vc_empty_space_inner"></span></div>
                                                                                <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 24px;color: #342827;text-align: left; font-weight:600; letter-spacing:0px; margin-bottom: 10px; "><span>Send a quote, ask queries.</span></div></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>Send a quote, ask queries regarding your next projects. you can even tell your personal suggestion/request regarding our agency.</p>

                                                                                </div>
                                                                                <div role="form" class="wpcf7" id="wpcf7-f291-p266-o1" lang="en-US" dir="ltr">
                                                                                    <div class="screen-reader-response"></div>
                                                                                    <form action="http://demo.agnidesigns.com/fortune/demo1/d1-contact/#wpcf7-f291-p266-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                                        <div style="display: none;">
                                                                                            <input type="hidden" name="_wpcf7" value="291" />
                                                                                            <input type="hidden" name="_wpcf7_version" value="4.4.2" />
                                                                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f291-p266-o1" />
                                                                                            <input type="hidden" name="_wpnonce" value="cf9495f30d" />
                                                                                        </div>
                                                                                        <div class="row fortun-contact-form-style-1">
                                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name*" /></span></div>
                                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span></div>
                                                                                            <div class="col-sm-6 col-md-6"><span class="wpcf7-form-control-wrap budget"><input type="text" name="budget" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Budget - $500" /></span></div>
                                                                                            <div class="col-sm-6 col-md-6"><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject" /></span></div>
                                                                                            <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea></span></div>
                                                                                            <div class="col-sm-12 col-md-12"><input type="submit" value="Send Mail" class="wpcf7-form-control wpcf7-submit btn-accent" /></div>
                                                                                        </div>
                                                                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                                    </form>
                                                                                </div><div class="agni_empty_space vc_empty_space" style="height: 80px" data-height="80px" data-height-tab="70" data-height-mobile="25"><span class="vc_empty_space_inner"></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-22719 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div id="google-map-1" class="map-canvas google-map-1 map-canvas-style-1" style="height:100vh;" data-map-style="1" data-map-accent-color="#ff655c" data-map-drag="1" data-map-zoom="16" data-map="http://demo.agnidesigns.com/fortune/demo1/wp-content/themes/fortun/img/marker.png" data-lng="144.964233" data-lat="-37.801379" data-add1="Envato, Melbourne" data-add2="Australia" data-add3="" data-lng-2="" data-lat-2="" data-add1-2="" data-add2-2="" data-add3-2="" data-dir="http://demo.agnidesigns.com/fortune/wp-content/themes/fortun/"></div></div></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
