
@{
    ViewBag.Title = "Index";
}

    <body class="page-template-default page page-id-201 wpb-js-composer js-comp-ver-5.0.1 vc_responsive">


        <div class="top-padding"></div>
        <div class="bottom-padding"></div>
        <div id="back-to-top" class="back-to-top"><a href="#back-to-top"><i class="ion-ios-arrow-up"></i></a></div>

        <div id="page" class="hfeed site wrapper  ">

            <div class="spacer"></div>

            <div id="content" class="site-content content default-header-menu-content">

                <div id="agni-page-header-201" class="agni-slider agni-page-header" data-height="480" data-height-tab="400" data-height-mobile="320" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
                    <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
                        <div class="agni-slide-bg-container ">
                            <div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../../Public/wp-content/uploads/sites/15/2016/09/shutterstock_389737420.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background: rgba(36, 198, 220, 0.85); /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;"></div>
                        </div>
                        <div class="agni-slide-content-container container agni-slide-align-items- agni-slide-justify-content-center">
                            <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                                <div class="agni-slide-title  primary-typo" style="font-size:70px; color:#f0f0f0;"><h2>Our Services</h2></div>
                            </div>
                        </div>
                    </div>
                </div><div class="page-layout has-fullwidth">
                    <div class="page-container container-fluid">
                        <div class="page-row row no-sidebar ">


                            <div class="page-column page-content col-sm-12 col-md-12">
                                <div id="primary" class="primary content-area">
                                    <main id="main" class="site-main">


                                        <article id="post-201" class="post-201 page type-page status-publish hentry">
                                            <div class="entry-content">
                                                <div id="our-service" class="section-row our-service" style="padding-top: 5%; padding-bottom: 5%; ">
                                                    <div class="section-row-bg-container section-row-bg-container-our-service"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                                        <div class="vc_row vc_row_fluid ">
                                                            <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-41261 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-search icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Data Analysis</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="../service-single-page/index.html" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-43335 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-sun icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Software Testing</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="#" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-56296 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-headphones icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Outsourcing</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="#" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-85965 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-piggy icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Product Marketing</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="#" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-29879 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-lintern icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Product Advice</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="#" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 40px; padding-bottom: 40px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-20285 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class=" service-box service-box-style-1 text-center ">
                                                                            <div class=" agni-icon has-icon "><span class="agni-icon-container" style="border-radius:50%; color:#000000; background-color:#f0f1f2; "><i class="pe-7s-display1 icon-has-background hover-icon-has-background" style="border-radius:50%; color:#ffffff; background-color:#514a9d;  border-color:#514a9d;"></i></span></div><h6 class="service-box-heading" style="font-size:24px; ">Strategy &amp; Plans</h6><div class="divide-line text-center"><span></span></div><div class="service-box-description">
                                                                                <p>Nunc facilisis dui nulla, quis aliquam libero facilisis quis. Maecenas condimentum lorem ac nunc mollis vestibulum.</p>
                                                                            </div><div class="service-box-btn"><a class="btn btn-alt btn-primary btn-sm" href="#" style="border-radius:50px; "> Know More</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div id="call-to-action" class="section-row call-to-action" style="padding-top: 7%; padding-bottom: 7%; ">
                                                    <div class="section-row-bg-container section-row-bg-container-call-to-action"><div class="section-row-bg section-row-bg-image  parallax" style="background-image: url('../../Public/wp-content/uploads/sites/15/2016/09/shutterstock_391278748.jpg'); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:fixed; " data-top-bottom="background-position: 0px -200px;" data-center="background-position: 0px 0px" data-bottom-top="background-position: 0px 200px"></div></div><div class="container">
                                                        <div class="vc_row vc_row_fluid ">
                                                            <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                                <div class="agni_column-inner vc_column-inner text-center has-dark-mode" style="padding-top: 30px; padding-bottom: 30px; ">
                                                                    <div class="section-column-bg-container section-column-bg-container-agni-column-78608 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                        <div class="agni_custom_heading page-scroll"><h2 class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="text-align: center; margin-top: 0px; padding-bottom: 2%; "><span>Looking <em>for</em> solutions?</span></h2></div>
                                                                        <div class="agni_text_column agni-text-block ">
                                                                            <p>Duis in facilisis lorem, in sollicitudin ex. Morbi vulputate leo nunc, a venenatis orci ultricies vitae. Nam a felis sit amet augue tincidunt finibus eu ac enim.</p>

                                                                        </div>
                                                                        <div class=" agni-button  text-center page-scroll"><a class="btn btn-alt btn-lg btn-white" target="_self" href="#" style="border-radius:50px;">Buy Now</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .entry-content -->
                                        </article><!-- #post-## -->



                                    </main><!-- #main -->
                                </div><!-- #primary -->
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- #content -->
    </body>
