
@{
    ViewBag.Title = "Index2";
}


<body class="paged page-template-default page page-id-205 paged-2 page-paged-2 wpb-js-composer js-comp-ver-5.0.1 vc_responsive">


    <div class="spacer"></div>

    <div id="content" class="site-content content default-header-menu-content">

        <div id="agni-page-header-205" class="agni-slider agni-page-header" data-height="480" data-height-tab="400" data-height-mobile="320" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
            <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
                <div class="agni-slide-bg-container ">
                    <div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(../../../Public/wp-content/uploads/sites/15/2016/09/shutterstock_511304944.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div><div class="agni-slide-bg-overlay overlay" style="background: rgba(36, 198, 220, 0.85); /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(36, 198, 220, 0.85) , rgba(81, 74, 157, 0.85)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;"></div>
                </div>
                <div class="agni-slide-content-container container agni-slide-align-items-center agni-slide-justify-content-center">
                    <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                        <div class="agni-slide-title  primary-typo" style="font-size:70px; color:#f0f0f0;"><h2>Case Studies</h2></div>
                    </div>
                </div>
            </div>
        </div><div class="page-layout has-fullwidth">
            <div class="page-container container-fluid">
                <div class="page-row row no-sidebar ">


                    <div class="page-column page-content col-sm-12 col-md-12">
                        <div id="primary" class="primary content-area">
                            <main id="main" class="site-main">


                                <article id="post-205" class="post-205 page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div id="agni-row-93434" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                            <div class="section-row-bg-container section-row-bg-container-agni-row-93434"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                                <div class="vc_row vc_row_fluid ">
                                                    <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                        <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px; ">
                                                            <div class="section-column-bg-container section-column-bg-container-agni-column-74821 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                                <div id="primary-portfolio" class="page-portfolio content-area shortcode-page-portfolio">
                                                                    <div id="main-portfolio" class="page-portfolio-container container site-main">

                                                                        <div class="portfolio-container has-hardcrop">
                                                                            <div class="row portfolio-row" style="margin: 0 -30px; " data-gutter="60" data-grid="fitRows" data-posttype-autoplay="true" data-posttype-autoplay-timeout="4000" data-posttype-autoplay-speed="700" data-posttype-autoplay-hover="true" data-posttype-loop="true" data-posttype-pagination="true" data-posttype-navigation="false">
                                                                                <div id="portfolio-post-600" class="portfolio-column portfolio-post portfolio-hover-style-2 all graphic print  width1x height1x col-xs-12 col-sm-12 col-md-6 has-bottom-caption animate" data-hardcrop="true" data-thumbnail-width="600" data-thumbnail-height="450" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 30px 0; padding: 0 30px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;">
                                                                                    <div class="portfolio-content-container" style="background-color:rgba(81,74,157,0.95); color:#ffffff; ">
                                                                                        <div class="portfolio-thumbnail">
                                                                                            <img class="portfolio-thumbnail-attachment-image attachment-600x450 " src="../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_29-600x450.jpg" width="600" height="450" alt="portfolio-thumbnail_29" title="portfolio-thumbnail_29" /><div class="portfollio-thumbnail-bg" style="background-image:url(../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_29-600x450.jpg)"></div>
                                                                                        </div>
                                                                                        <div class="portfolio-caption-content">
                                                                                            <a class="portfolio-content-link" href="../../../portfolio/right-sidebar-fullwidth/index.html" target="_self"></a>
                                                                                            <div class="portfolio-content">
                                                                                                <div class="portfolio-content-details">
                                                                                                    <a class="portfolio-content-link" href="../../../portfolio/right-sidebar-fullwidth/index.html" target="_self">
                                                                                                        <div class="portfolio-content-inner">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="portfolio-bottom-caption"><h5 class="portfolio-bottom-caption-title"><a href="../../../portfolio/right-sidebar-fullwidth/index.html" target="_self">Right sidebar fullwidth</a></h5><ul class="portfolio-bottom-caption-category list-inline"><li>Graphic</li><li>Print</li></ul></div>
                                                                                </div><div id="portfolio-post-711" class="portfolio-column portfolio-post portfolio-hover-style-2 all graphic print  width1x height1x col-xs-12 col-sm-12 col-md-6 has-bottom-caption animate" data-hardcrop="true" data-thumbnail-width="600" data-thumbnail-height="450" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 30px 0; padding: 0 30px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s; animation-duration: 0.8s; animation-delay: 0.8s;">
                                                                                    <div class="portfolio-content-container" style="background-color:rgba(81,74,157,0.95); color:#ffffff; ">
                                                                                        <div class="portfolio-thumbnail">
                                                                                            <img class="portfolio-thumbnail-attachment-image attachment-600x450 " src="../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_22-600x450.jpg" width="600" height="450" alt="portfolio-thumbnail_22" title="portfolio-thumbnail_22" /><div class="portfollio-thumbnail-bg" style="background-image:url(../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_22-600x450.jpg)"></div>
                                                                                        </div>
                                                                                        <div class="portfolio-caption-content">
                                                                                            <a class="portfolio-content-link" href="../../../portfolio/fullwidth-constrained/index.html" target="_self"></a>
                                                                                            <div class="portfolio-content">
                                                                                                <div class="portfolio-content-details">
                                                                                                    <a class="portfolio-content-link" href="../../../portfolio/fullwidth-constrained/index.html" target="_self">
                                                                                                        <div class="portfolio-content-inner">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="portfolio-bottom-caption"><h5 class="portfolio-bottom-caption-title"><a href="../../../portfolio/fullwidth-constrained/index.html" target="_self">Fullwidth constrained</a></h5><ul class="portfolio-bottom-caption-category list-inline"><li>Graphic</li><li>Print</li></ul></div>
                                                                                </div><div id="portfolio-post-710" class="portfolio-column portfolio-post portfolio-hover-style-2 all branding logo-design  width1x height1x col-xs-12 col-sm-12 col-md-6 has-bottom-caption animate" data-hardcrop="true" data-thumbnail-width="600" data-thumbnail-height="450" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 30px 0; padding: 0 30px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s; animation-duration: 0.8s; animation-delay: 0.4s;">
                                                                                    <div class="portfolio-content-container" style="background-color:rgba(81,74,157,0.95); color:#ffffff; ">
                                                                                        <div class="portfolio-thumbnail">
                                                                                            <img class="portfolio-thumbnail-attachment-image attachment-600x450 " src="../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_27-600x450.jpg" width="600" height="450" alt="portfolio-thumbnail_27" title="portfolio-thumbnail_27" /><div class="portfollio-thumbnail-bg" style="background-image:url(../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_27-600x450.jpg)"></div>
                                                                                        </div>
                                                                                        <div class="portfolio-caption-content">
                                                                                            <a class="portfolio-content-link" href="../../../portfolio/fullscreen-slider/index.html" target="_self"></a>
                                                                                            <div class="portfolio-content">
                                                                                                <div class="portfolio-content-details">
                                                                                                    <a class="portfolio-content-link" href="../../../portfolio/fullscreen-slider/index.html" target="_self">
                                                                                                        <div class="portfolio-content-inner">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="portfolio-bottom-caption"><h5 class="portfolio-bottom-caption-title"><a href="../../../portfolio/fullscreen-slider/index.html" target="_self">Fullscreen slider</a></h5><ul class="portfolio-bottom-caption-category list-inline"><li>Branding</li><li>Logo Design</li></ul></div>
                                                                                </div><div id="portfolio-post-599" class="portfolio-column portfolio-post portfolio-hover-style-2 all branding graphic  width1x height1x col-xs-12 col-sm-12 col-md-6 has-bottom-caption animate" data-hardcrop="true" data-thumbnail-width="600" data-thumbnail-height="450" data-animation="fadeInUp" data-animation-offset="90%" style="margin: 30px 0; padding: 0 30px; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s; animation-duration: 0.8s; animation-delay: 0.8s;">
                                                                                    <div class="portfolio-content-container" style="background-color:rgba(81,74,157,0.95); color:#ffffff; ">
                                                                                        <div class="portfolio-thumbnail">
                                                                                            <img class="portfolio-thumbnail-attachment-image attachment-600x450 " src="../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_25-600x450.jpg" width="600" height="450" alt="portfolio-thumbnail_25" title="portfolio-thumbnail_25" /><div class="portfollio-thumbnail-bg" style="background-image:url(../../../Public/wp-content/uploads/sites/15/2016/12/portfolio-thumbnail_25-600x450.jpg)"></div>
                                                                                        </div>
                                                                                        <div class="portfolio-caption-content">
                                                                                            <a class="portfolio-content-link" href="../../../portfolio/sidebar-constrained/index.html" target="_self"></a>
                                                                                            <div class="portfolio-content">
                                                                                                <div class="portfolio-content-details">
                                                                                                    <a class="portfolio-content-link" href="../../../portfolio/sidebar-constrained/index.html" target="_self">
                                                                                                        <div class="portfolio-content-inner">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="portfolio-bottom-caption"><h5 class="portfolio-bottom-caption-title"><a href="../../../portfolio/sidebar-constrained/index.html" target="_self">Sidebar constrained</a></h5><ul class="portfolio-bottom-caption-category list-inline"><li>Branding</li><li>Graphic</li></ul></div>
                                                                                </div>                        <div class="grid-sizer col-xs-12 col-sm-12 col-md-6"></div>
                                                                            </div>
                                                                            <div class="portfolio-number-navigation page-number-navigation navigation text-center">
                                                                                <ul class='page-numbers'>
                                                                                    <li><a class="prev page-numbers" href="../1/index.html">Previous</a></li>
                                                                                    <li><a class='page-numbers' href='../1/index.html'>1</a></li>
                                                                                    <li><span class='page-numbers current'>2</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- #main -->
                                                                </div><!-- #primary -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </article><!-- #post-## -->



                            </main><!-- #main -->
                        </div><!-- #primary -->
                    </div>
                </div>
            </div>
        </div>


    </div><!-- #content -->
</body>