
@{
    ViewBag.Title = "Comma";
}


<div id="content" class="site-content content strip-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-406" class="portfolio-single-content portfolio-single-layout-plain post-406 portfolio type-portfolio status-publish has-post-thumbnail hentry types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-95142" class="section-row" style="padding-top: 5%; padding-bottom: 5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-95142"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; "><div class="section-column-bg-container section-column-bg-container-agni-column-35839 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; "><span>Comma - Logo Marks</span></h4></div><div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="color: #bbbbbb;text-align: left; "><span>Logo Design</span></h6></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-41078 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Praesent turpis ex, ultrices sed nisi at, tincidunt mattis lacus. Etiam egestas dolor at eleifend vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce in urna ipsum. Aliquam tincidunt sapien fermentum neque imperdiet blandit. Mauris blandit magna ut metus vestibulum, ut cursus lorem pulvinar.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-33907" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-33907"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-60811 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="800" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1.jpg 1920w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1-300x125.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1-768x320.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1-1024x427.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_2_inner_1-960x400.jpg 960w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-61232" class="section-row" style="padding-top: 5%; padding-bottom: 5%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-61232"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6"><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; "><div class="section-column-bg-container section-column-bg-container-agni-column-85265 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="color: #bbbbbb;text-align: left; "><span>Additional Details</span></h6></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-43306 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="text-align: left; font-weight:600; padding-bottom: 30px; "><span>Sed sagittis molestie risus, sed euismod lectus. Vestibulum eros quam, porttitor nec efficitur ut, sodales semper libero. Aliquam sed pellentesque sem. Nullam ornare interdum justo vitae sodales. Aenean tempus sed sem nec sollicitudin. Donec feugiat gravida sem, nec imperdiet sapien consequat non.</span></div></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Donec feugiat, erat at congue ornare, nisi ipsum fermentum dui, eu rutrum sapien massa non turpis. Duis imperdiet rhoncus hendrerit. Vestibulum hendrerit risus massa, vel placerat leo laoreet eget. Fusce in rhoncus lorem. Pellentesque consequat cursus augue, quis imperdiet leo rutrum non.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-80768" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-80768"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-78479 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">

                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-58446" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-58446"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-61993 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-video">
                                                                <div class="agni-video-container agni-video-container-17903" style="height:640px">
                                                                    <a id="agni-video-17903" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=zaPo86cfmDQ', containment:'.agni-video-container-17903 ', showControls:false, autoPlay:true, loop:true, vol:50, mute:true, startAt:0, stopAt:30, opacity:1, addRaster:false, optimizeDisplay:true, quality:'default'}" style="background-image:url(' ../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4.jpg')"></a>
                                                                    <div class="overlay" style="opacity:0.6"></div>
                                                                    <div class="section-video-controls agni-video-controls">
                                                                        <a class="command command-play" href="#"></a>
                                                                        <a class="command command-pause" href="#"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-77857" class="section-row" style="padding-top: 5%; padding-bottom: 3%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-77857"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-5 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-88918 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 14px;color: #000000;text-align: left; "><span>Client :</span></div></div>
                                                            <div class="agni_text_column agni-text-block " style="padding-bottom: 20px; ">
                                                                <p>AgniHD</p>

                                                            </div>
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 14px;color: #000000;text-align: left; "><span>Date : </span></div></div>
                                                            <div class="agni_text_column agni-text-block " style="padding-bottom: 20px; ">
                                                                <p>13 Jan 2017</p>

                                                            </div>
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="font-size: 14px;color: #000000;text-align: left; "><span>Description :</span></div></div>
                                                            <div class="agni_text_column agni-text-block " style="padding-bottom: 20px; ">
                                                                <p>Sed rhoncus vestibulum cursus. Nunc consectetur nunc a arcu.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-offset-2 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-78970 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><div class="vc_custom_heading agni_custom_heading_content " style="text-align: left; font-weight:600; padding-bottom: 30px; "><span>Sed sagittis molestie risus, sed euismod lectus. Vestibulum eros quam, porttitor nec efficitur ut, sodales semper libero. Aliquam sed pellentesque sem. Nullam ornare interdum justo vitae sodales. Aenean tempus sed sem nec sollicitudin. Donec feugiat gravida sem, nec imperdiet sapien consequat non.</span></div></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Donec feugiat, erat at congue ornare, nisi ipsum fermentum dui, eu rutrum sapien massa non turpis. Duis imperdiet rhoncus hendrerit. Vestibulum hendrerit risus massa, vel placerat leo laoreet eget. Fusce in rhoncus lorem. Pellentesque consequat cursus augue, quis imperdiet leo rutrum non.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/comma-logo-marks//&amp;t=Comma%20%e2%80%93%20Logo%20Marks"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=Comma%20%e2%80%93%20Logo%20Marks-http://demo.agnidesigns.com/fortune/demo3/portfolio/comma-logo-marks/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/comma-logo-marks/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/comma-logo-marks/&amp;title=Comma%20%e2%80%93%20Logo%20Marks"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="../pop/index.html" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div><div class="nav-back"><a href="../../index.html"><i class="pe-7s-back"></i></a></div><div class="nav-next"><a href="../zero-branding/index.html" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->



