
@{
    ViewBag.Title = "Index";
}


<div id="content" class="site-content content strip-header-menu-content">

    <div id="agni-page-header-392" class="agni-slider agni-page-header" data-height="500" data-height-tab="450" data-height-mobile="320" data-slider-choice="2" data-slider-autoplay-timeout="5000" data-slider-smart-speed="250" data-slider-mousedrag="false" data-slider-nav="false" data-slider-dots="false" data-slider-autoplay="false" data-slider-loop="false" data-slider-animate-in="false" data-slider-animate-out="false" data-slider-992-items="1" data-slider-768-items="1" data-slider-0-items="1" data-slider-carousel-margin="0">
        <div class="agni-slide " data-0="transform:translateY(0px);" data-1500="transform:translateY(600px);">
            <div class="agni-slide-bg-container "><div class="agni-slide-bg agni-slide-bg-image" style="background-image:url(Public/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_3.jpg); background-repeat:repeat; background-position:center center; background-size:cover; "></div></div>
            <div class="agni-slide-content-container container agni-slide-align-items-middle agni-slide-justify-content-center">
                <div class="agni-slide-content-inner page-scroll" style="padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;">
                    <div class="agni-slide-title  primary-typo" style="font-size:px; color:#f0f0f0;"><h2>Pop</h2></div>
                </div>
            </div>
        </div>
    </div>	<div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-392" class="portfolio-single-content portfolio-single-layout-plain post-392 portfolio type-portfolio status-publish has-post-thumbnail hentry types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-92836" class="section-row" style="padding-top: 3%; padding-bottom: 3%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-92836"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-53087 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; "><span>Details</span></h6></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Mauris bibendum mollis eros, sit amet bibendum mi feugiat a. Aliquam nec odio auctor, sodales odio sagittis, consequat ex. Donec ut sapien semper, mattis nunc a, aliquam nulla. Curabitur libero arcu, mattis eget tristique sit amet, mattis non turpis. Phasellus aliquam elit non turpis vestibulum, tempus laoreet tellus faucibus. Vivamus elementum lectus in justo tempor, nec efficitur lorem elementum. Morbi sagittis, ipsum id convallis facilisis, libero augue luctus tellus, a malesuada magna sapien eget magna.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-98814" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-98814"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-13830 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="960" height="960" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1.jpg 960w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_1-600x600.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-19292 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <div class="image-has-parallax" data-bottom-top="transform:translateY(50px);" data-top-bottom="transform:translateY(-50px);">
                                                                    <figure class="agni-image-figure">
                                                                        <img style="" width="960" height="960" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2.jpg 960w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_2-600x600.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                        <figcaption class="vc_figure-caption"></figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-98349" class="section-row" style="padding-top: 3%; padding-bottom: 3%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-98349"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-5 vc_col-md-offset-2 vc_col-md-4 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-37953 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Aliquam in metus sit amet nisl auctor egestas nec et nunc. Quisque tempus condimentum orci, a consectetur tortor consectetur quis. Morbi ut tristique augue. Nam sed aliquet nibh. Aenean eget quam in ante tempor aliquam. Sed vitae arcu lectus</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-5 vc_col-md-4">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-15380 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Phasellus aliquam elit non turpis vestibulum, tempus laoreet tellus faucibus. Vivamus elementum lectus in justo tempor, nec efficitur lorem elementum. Morbi sagittis, ipsum id convallis facilisis, libero augue luctus tellus, a malesuada.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-68126" class="section-row"><div class="section-row-bg-container section-row-bg-container-agni-row-68126"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid"><div class="vc_row vc_row_fluid has-fullwidth-column-no-padding"><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-78780 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni-gallery img-carousel custom-gallery"><div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -0px -0px;"><div class="grid-sizer col-xs-12 col-sm-6 col-md-4 "></div><div class="col-xs-12 col-sm-6 col-md-4 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6.jpg"><img width="800" height="800" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6.jpg 800w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_6-600x600.jpg 600w" sizes="(max-width: 800px) 100vw, 800px" /></a></figure></div><div class="col-xs-12 col-sm-6 col-md-4 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5.jpg"><img width="800" height="800" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5.jpg 800w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_5-600x600.jpg 600w" sizes="(max-width: 800px) 100vw, 800px" /></a></figure></div><div class="col-xs-12 col-sm-6 col-md-4 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; "><figure class="agni-gallery-figure"><a href="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7.jpg"><img width="960" height="960" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7.jpg" class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7.jpg 960w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7-768x768.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7-180x180.jpg 180w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_7-600x600.jpg 600w" sizes="(max-width: 960px) 100vw, 960px" /></a></figure></div></div></div></div></div></div></div></div></div><div id="agni-row-68005" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-68005"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-63722 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="800" src="../../wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4.jpg 1920w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4-300x125.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4-768x320.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4-1024x427.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/10/portfolio-thumbnail_inner_4-960x400.jpg 960w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="agni-row-86851" class="section-row" style="padding-top: 3%; padding-bottom: 3%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-86851"><div class="section-row-bg section-row-bg-color "></div></div><div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 30px; padding-bottom: 30px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-16278 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Fusce vel rhoncus dui. Duis consectetur orci dui, ac scelerisque eros bibendum sed. Sed velit mi, mollis vel est ut, cursus scelerisque odio. Aenean dictum ligula purus, a eleifend quam volutpat fringilla. Nam velit metus, feugiat a urna sit amet, vestibulum sollicitudin magna.</p>

                                                            </div>
                                                            <div id="agni-row-inner-59346" class="section-row-inner vc_inner " style="padding-top: 20px; ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-59346"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-36021"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Client :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>AgniHD</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-88985"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Date :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>13 Jan 2017</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-32180"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><h6 class="vc_custom_heading agni_custom_heading_content " style="font-size: 16px;color: #bbbbbb;text-align: left; margin-bottom: 5px; "><span>Services :</span></h6></div>
                                                                                <div class="agni_text_column agni-text-block ">
                                                                                    <p>Design, Branding</p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li><a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo3/portfolio/pop//&amp;t=Pop"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/intent/tweet?text=Pop-http://demo.agnidesigns.com/fortune/demo3/portfolio/pop/"><i class="fa fa-twitter"></i></a></li>

                                                    <li><a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo3/portfolio/pop/"><i class="fa fa-google-plus"></i></a></li>

                                                    <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo3/portfolio/pop/&amp;title=Pop"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"></div><div class="nav-back"><a href="../../index.html"><i class="pe-7s-back"></i></a></div><div class="nav-next"><a href="../comma-logo-marks/index.html" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->


<footer class="site-footer" role="contentinfo">
    <div class="site-info">
        <div id="footer-colophon" class="footer-colophon">
            <div class="container">
                <div class="footer-content style-1">
                    <div class="footer-text-container">
                        <div class="footer-text">Copyright © 2017 All Rights Reserved.</div>
                    </div><div class="footer-menu-container">
                        <nav class="footer-nav-menu additional-nav-menu">
                            <ul id="footer-navigation" class="footer-nav-menu-content list-inline">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-268"><a href="mailto:yourmail@mail.com">yourmail@mail.com</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-269"><a href="tel:+010000000000">+00 000 000 000</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
